.admin {
    padding: 20px;
}

.admin h1{
    color: rgb(44, 90, 51);
}

.admin .prods,
.admin .coupons{
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    padding: 20px;
    text-align: left;
}

.admin h5{
    text-align: center;
}

.admin label{
    margin-top: 10px;
}

.admin .parent{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.admin .prods{
    width: 500px;
}

.admin .coupons{
    width: 500px;
}

.admin .controls{
    margin-top: 12px;
    text-align: center;
}