.navbar-menu{
    padding: 5px;
    display: flex;
    height: 60px;
    align-items: center;
    background-color: rgb(44, 90, 51);
}

.navbar-menu a{
    font-size: 17px;
    color:rgb(35, 202, 147);
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 24px;
}

a:hover{
    color: white;
    text-decoration: underline;
}



.navbar-menu .title{
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 22px;
    color: rgb(210, 216, 209);
}